<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>BASS</title>
  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <!-- Custom styles for this template -->
  <link href="css/modern-business.css" rel="stylesheet">
</head>
<body>

  <!-- Navigation -->
  <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="http://127.0.0.1:5005/">BASS Project</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="petlist">Adopt</a>
            </li>
          <li class="nav-item">
            <a class="nav-link" href="register">Register</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="complete">Complete</a>
          </li>
          <li>
            <a class="nav-link" href="login">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="complete">Blog Post</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Content -->
  <div class="container">
    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">Register
      <small>You can register the animals you want to sell</small>
    </h1>
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="index.ejs">Home</a>
      </li>
      <li class="breadcrumb-item active">Register</li>
    </ol>
    
    <!-- register Form -->
    <div class="row">
      <div class="col-lg-6 mb-4">
        <h3>Register your animal</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 mb-4">
        <form action="/register" name="registerAnimal" method="POST" id="registerForm" novalidate>
          <div class="control-group form-group">
            <div class="controls">
              <label>품종:</label>
              <input type="text" class="form-control" id="breeds" name="breeds" required data-validation-required-message="Please enter breeds of animals.">
              <p class="help-block"></p>
            </div>
          </div>
          <div class="control-group form-group">
            <div class="controls">
              <label>성별:</label>
              <input type="text" class="form-control" id="sex" name="sex" required data-validation-required-message="Please enter sex of animals.">
            </div>
          </div>
          <div class="control-group form-group">
            <div class="controls">
              <label>나이:</label>
              <input type="number" class="form-control" id="age" name="age" required data-validation-required-message="Please enter age of animals.">
            </div>
          </div>
          <div class="control-group form-group">
            <div class="controls">
              <label>지역:</label>
              <input type="text" class="form-control" id="area" name="area" required data-validation-required-message="Please enter your area">
            </div>
          </div>
          <div class="control-group form-group">
            <div class="controls">
              <label>가격:</label>
              <input type="number" class="form-control" id="price" name="price" required data-validation-required-message="Please enter price">
            </div>
          </div>
          <div class="control-group form-group">
              <div class="controls">
                <label>주인의 계정:</label>
                <input type="text" class="form-control" id="owner_acc" name="owner_acc" required data-validation-required-message="Please enter your account">
              </div>
            </div>
        </form>
      </div>
      <br>
      <div class="col-lg-6 mb-4">
        <label>혈통서 업로드:</label>
        <form action="/upload" method="post" enctype="multipart/form-data" id="fileForm">
          <input type="file" id="fileInput" name="fileInput">
          <input type="text" id="filePath">
        </form>
      </div>
    </div>
    <div class="row">
    <div class="col-lg-12 mb-4">
      <form action="/register" method="POST">
        <div id="success">
          <button type="submit" class="btn btn-primary btn-lg btn-block" id="registerButton">Go to Register</button>
        </div>
      </form>
    </div>
  </div>
    <br><br>
</div>

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Your Website 2019</p>
    </div>
  </footer>
  
  <!--script-->
  <script src="http://code.jquery.com/jquery-1.7.1.js"></script>
  <script>
    $("#registerButton").click(function(){
      $.ajax({
        url: 'http://localhost:5005/register',
        async: true,
        type: 'POST',
        data: {
          "breed" : $("#breeds").val(),
          "sex": $("#sex").val(),
          "age": $("#age").val(),
          "area": $("#area").val(),
          "price": $("#price").val(),
          "owner_acc": $("#owner_acc").val()
        },
        dataType: 'json',
        success: function(data){
        },
        error: function(err){
        }
      });
    });
  </script>
</body>
</html>